.card {
    min-height: 640px;
}

.col-md-2 .card {
    min-height: 525px;
}
.col-md-2 .card-title {
    font-size: 1.1rem;
}




/*i.fa  {*/
/*font-size:0.8rem;*/
/*}*/

.card-text {
    font-size: 0.76rem;
}

.buttons {
    position: absolute;
    bottom: 30px;
    left: 3px;
}

@media (max-width: 768px) {
    .buttons {
        position: relative;
        top: 10px;
    }
}